
#footer{background-color:rgb(11,33,44);
position:absolute;
width:1350px;
height:200px;
}
#footer .foot{float:left;
width:450px;
height:200px;
position:relative;
}
#footer{
position:absolute;
left:0px;}

li{font-size:25px;}


body{margin-top:20px;}

div#banner{background-color:rgb(22,44,66);
margin-left:100px;
text-decoration:none;
width:1100px;
height:80px}


a:hover{background-color:green;
text-decoration:none;
border-radius:4px;}

li{display:inline;
margin:50px;}

a{color:red;
font-size:40px;
position:relative;
top:5px;
}
a:link{ text-decoration:none;}
body{background-image:url("B.jpg")
}
.p{position:relative;
font-size:25px;
left:40px;
top:50px;}

img{width: 100%;
    height: auto;

top:20px;}

.h{float:left;
position:relative;
top:50px;
margin-left:60px;}
p.s{font-size:25px;

font-style:italic;
position:relative;
top:50px;
left:20px;
display:block;}
.f{color:rgb(33,55,77);}
