body{margin-top:20px;}

div#banner{background-color:rgb(22,44,66);
margin-left:100px;
text-decoration:none;
width:1100px;
height:80px}
div#none{ text-decoration:none;}

a:hover{background-color:green;
text-decoration:none;
border-radius:4px;}

li{display:inline;
position:relative;
margin:50px;



}

a:link{text-decoration;none;}
body{background-image:url("hh.jpg")}

a{color:red;
font-size:40px;
padding-top:4px;
position:relative;
top:5px;

}


p{font-size:28px;
margin-left:300px;
color:pink
}

h1{padding:39px;}

#footer{background-color:rgb(11,33,44);
position:absolute;
width:1350px;
height:200px;
}
#footer .foot{float:left;
width:450px;
height:200px;
position:relative;
}
#footer{
position:absolute;
left:0px;}

li{font-size:25px;}
.f{color:rgb(33,55,77);}