li{display:inline;
margin:80px;}

a{color:red;
font-size:20px;}


div.odd{float:right;
margin-right:100px;
margin-left:130px;
margin-top:50px;}

.even{clear:right;
float:left;
margin-right:100px;
margin-top:50px;
margin-left:130px;


}